# Virtual environments
venv/
env/
.venv/

# Byte-code files
__pycache__/
*.pyc

# IDE-specific files
.idea/
.vscode/

# Log files
*.log

# Temporary files
*.tmp

# Sensitive information (e.g., environment variables)
.env